# Coventry Telegraph Business Awards 2015

##  Site

web/static/css/*.css
web/_includes/css/*.css

## Ruby

.bundle
vendor/

##  Jekyll

_site/
beta/
2015/

##  NodeJS

node_modules/
npm-debug.log
.grunt

## Bower

web/_includes/bower_components/

##  API

api/
