    <li>
      <a class="nav--news outbound link" target="_blank" href="http://www.coventrytelegraph.net/all-about/telegraph-business-awards">News</a>
    </li><!--
 --><li>
      <a class="nav--categories" href="{{ site.url }}/categories/">Categories</a>
    </li><!--
    <li>
      <a class="nav--ceremony" href="{{ site.url }}/ceremony/">Ceremony</a>
    </li><!--
    <li>
      <a class="nav--judges" href="{{ site.url  }}/judges/">Judges</a>
    </li><!--
 --><li>
      <a class="nav--partners" href="{{ site.url }}/partners/">Partners</a>
    </li><!--
  --><li>
      <a class="nav--contact" href="{{ site.url }}/contact/">Contact</a>
    </li><!----><li>
      <a class="nav--2014" title="View the 2014 awards site" href="http://www.ctbusinessawards.co.uk/2014/">2014 Awards</a>
    </li>
