{% if site.partners %}
<section class="wrapper partners-bar cf">

  <div class="wrapper__sub">

    <section class="grid ss1-ss4 ls1">
    <h3 class="gamma heading--main">In association with:</h3>

    {% for partner in site.partners %}

      {% if partner.tags == 'associate' %}
        <a class="outbound" target="_blank" href="{{ site.url }}{{ partner.url }}/">
            <img class="image__responsive" src="{{ site.media }}/partners/{{ partner.images.logo }}" alt="{{ partner.title }}">
          </a>
      {% endif %}

    {% endfor %}

    </section>

    <section class="grid grid__seperator ss1-ss4 ls2-ls3">
    <h3 class="gamma heading--main">Supported by:</h3>
    <ul class="list gallery cf">

    {% for partner in site.partners %}
      {% if partner.tags == 'supporter' %}

      <li class="gallery__item">
        <a href="{{ site.url }}{{ partner.url }}/">
          <img class="image__responsive" src="{{ site.media }}/partners/{{ partner.images.logo }}" alt="{{ partner.title }}">
        </a>
      </li>
      {% endif %}
        {% endfor %}

    </ul>

    </section>

  </div><!--/ wrapper__sub  -->

</section>
{% endif %}
