{% if site.data.venue %}
<article class="box separator--horizontal" itemscope itemtype="http://schema.org/Event">
  <h3 class="gamma heading--main">Awards Ceremony</h3>
  {% if site.data.venue.image %}
  <img class="image image__responsive" src="{{ site.static }}/gui/{{ site.data.venue.image }}" alt="">
  {% endif %}
  <h4 itemprop="startDate" content="{{ site.data.venue.timestamp }}">{{ site.data.venue.date }}</h4>
  <p itemprop="location" itemscope itemtype="http://schema.org/Place">
  <span itemprop="streetAddress"><strong>{{ site.data.venue.name }}</strong><br>
  {{ site.data.venue.address }}</span>, <span itemprop="addressLocality">{{ site.data.venue.city }}</span>. <span itemprop="postalCode">{{ site.data.venue.postcode }}</span></p>
  <p itemprop="offers" itemscope itemtype="http://schema.org/Offer">
   <a itemprop="url" class="btn btn--primary btn__full" href="{{ site.url }}/tickets/">Book your tickets/table&nbsp;now</a>
 </p>
</article>
{% endif %}

<article class="box separator--horizontal">

  <h4 class="gamma heading--main">#CTBA2015 / #PrideofCov</h4>

  <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%23CBTA2015%20OR%20%23PrideofCov%20lang%3Aen%20exclude%3Aretweets" data-widget-id="565108174064463873">Tweets about #CBTA2015 OR #PrideofCov lang:en exclude:retweets</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</article>
