---
layout: master
---

<main id="content" class="box__large content__main wrapper cf">
  <div class="wrapper__sub">
    <article class="content__main ss1-ss4 ms1-ms6 ls1-ls8 separator">

      <h1 class="gamma heading--main">{{ page.title }}</h1>

      {% if page.images.logo %}
      <img class="image__responsive alignright sizemedium" src="{{ site.media }}/partners/{{ page.images.logo }}" alt="{{ page.supporter.title }}">
      {% endif %}

      {{ content }}

      {% if page.website %}<p><a href="{{ page.website }}" rel="nofollow">{{ page.title }}</a></p>{% endif %}

    </article>

    <aside class="content__aside ss1-ss4 ms1-ms6 ls9-ls12">
      {% include templates/sidebar.html %}
    <aside>

  </div>
</main>






